 body{
  background-color: #cccccc;
 }
 #header{
   background-color: gray;
   padding: 30px;
 }
 #title{
  font-size: 40px;
  margin-left: 10px;
 }
 #logo{
   display: flex;
   color: white;
 }
 @media (min-width: 576px) { 
    .osh{
        color: red;
      } 
 }
 @media (min-width: 768px) {  }
 
 @media (min-width: 992px) {  }
 
 @media (min-width: 1200px) {  }
 
 @media (min-width: 1400px) {  }